<section class="main-section">

  <div class="display-task-container">

    <% for (let i = 0; i < lists.length; i++) { %>
      <h1><%= lists[i].list_name %></h1>

      <table>
        <% for (let j = 0; j < tasks.length; j++) { %>
          <% if (tasks[j].list_name === lists[i].list_name) { %>
          <tr>
            <% if (tasks[j].is_complete === false) { %>
              <td><form method="POST" action="/markcompleted?taskid=<%= tasks[j].task_id %>"><button class="icon-button"><i class="fa fa-circle"></i></button></form></td>
              <td class="incompleted-task"><%= tasks[j].task_description %></td>
              <td class="incompleted-task"><%= tasks[j].task_date.toString().slice(0, 15) %></td>
            <% } else if (tasks[j].is_complete === true) { %>
              <td><button class="icon-button"><i class="fa fa-check-circle"></i></button></td>
              <td class="completed-task"><%= tasks[j].task_description %></td>
              <td class="completed-task"><%= tasks[j].task_date.toString().slice(0, 15) %></td>
            <% } %>
            <td><form method="POST" action="/delete?taskid=<%= tasks[j].task_id %>"><button class="icon-button-trash"><i class="fa fa-trash"></i></button></form></td>
          </tr>
          <% } %>  
        <% } %>  
        </tr>
      </table>
    <% } %>  
    
  </div>

  <div class="add-task-list-container">

    <div class="add-task-container">
      <h1>Create new task:</h1>
      <form id="add-task-form" method="POST" action="/task">
  
        <div class="form-field">
          <label for="task">Task</label>
          <input id="task" name="task" type="text" required>
        </div>
        
        <div class="form-field">
          <label for="selectlist">List</label>
          <select id="selectlist" name="selectlist">
            <% for (let i = 0; i < lists.length; i++) { %>
              <option value=<%= lists[i].list_id %>><%= lists[i].list_name%></option>
            <% } %>
          </select>
        </div>
  
        <div class="form-field">
          <label for="date">Date</label>
          <input id="date" name="date" type="date" required>
        </div>
  
        <div class="button-wrapper">
          <button type="submit">Add task</button>
        </div>
        
      </form>
  
    </div>

    <hr class="solid">
  
    <div class="add-list-container">
      <h1>Create new list:</h1>
      <form id="add-list-form" method="POST" action="/list">
  
        <div class="form-field">
          <label for="list">List title</label>
          <input id="list" name="list" type="text" required>
        </div>
  
        <div class="button-wrapper">
          <button type="submit">Add list</button>
        </div>
        
      </form>
  
    </div>

  </div>
  
</section>

<script src="/static/js/home.js" defer></script>
